<ion-side-menus>
    <!-- Center content -->
    <ion-side-menu-content>
        <header class="bar bar-header bar-stable">
            <h1 class="title">{{ selected }}</h1>
        </header>
        <ion-content>
            <ion-list>
                <div ng-repeat="question in questions">
                    <ion-item class="item-stable">
                        &nbsp;
                        {{ question.body }}
                        <span class="item-input-inset" ng-click="onClick()" ng-show="responseType('scale')">
                            <button id="1"
                                    ng-class="{'button-outline':question.value!='not at all'}"
                                    class="button button-small
                                    button-balanced
                                    select-button"
                                    ng-click="question.value='not at all';questionAnswered(question.value,question.body)">
                                <i>Not At All</i>
                            </button>
                            <button id="2"
                                    ng-class="{'button-outline':question.value!='a little'}"
                                    class="button button-small
                                    button-calm select-button"
                                    ng-click="question.value='a little';questionAnswered(question.value,question.body)">
                                <i>A little</i>
                            </button>

                            <button id="3"
                                    ng-class="{'button-outline':question.value!='quite a bit'}"
                                    class="button button-small
                                    button-positive
                                    select-button"
                                    ng-click="question.value='quite a bit';questionAnswered(question.value,question.body)">
                                <i>Quite a bit</i>
                            </button>
                            <button id="4"
                                    ng-class="{'button-outline':question.value!='extremely'}"
                                    class="button button-small
                                    button-assertive
                                    select-button"
                                    ng-click="question.value='extremely';questionAnswered(question.value,question.body)">
                                <i>Extremely</i>
                            </button>
                        </span>
                        <span class="item-input-inset" ng-click="onClick()" ng-show="responseType('bool')">
                            <button id="5"
                                    ng-class="{'button-outline':question.value!='yes'}"
                                    class="button button-small
                                    button-balanced
                                    select-button"
                                    ng-click="question.value='yes';questionAnswered(question.value,question.body)">
                                <i class="icon ion-checkmark-round"></i>
                            </button>
                            <button id="6"
                                    ng-class="{'button-outline':question.value!='neutral'}"
                                    class="button button-small
                                    button-dark select-button"
                                    ng-click="question.value='neutral';questionAnswered(question.value,question.body)">
                                <i class="icon ion-minus-round"></i>
                            </button>
                            <button id="7"
                                    ng-class="{'button-outline':question.value!='no'}"
                                    class="button button-small
                                    button-assertive
                                    select-button"
                                    ng-click="question.value='no';questionAnswered(question.value,question.body)">
                                <i class="icon ion-close-round"></i>
                            </button>
                        </span>
                        <span class="item-input-inset" ng-click="onClick()" ng-show="responseType('paragraph')">
                            <label class="item item-input item-floating-label">
                                <span class="input-label">Response</span>
                                <input type="text" placeholder="Response">
                            </label>
                        </span>
                        &nbsp;
                    </ion-item>
                    <ion-item class="item-accordion"
                              ng-repeat="dropdown in question.dropdown"
                              ng-show="showDropdown(question.value)">
                        {{ dropdown.body }}
                        <span class="item-input-inset" ng-click="onClick()" ng-show="'bool' == dropdown.question_type">
                            <button id="8"
                                    ng-class="{'button-outline':dropdown.value!='yes'}"
                                    class="button button-small
                                    button-balanced
                                    select-button"
                                    ng-click="dropdown.value='yes';questionAnswered(dropdown.value, question.body, dropdown.body)">
                                <i class="icon ion-checkmark-round"></i>
                            </button>
                            <button id="9"
                                    ng-class="{'button-outline':dropdown.value!='neutral'}"
                                    class="button button-small
                                    button-dark select-button"
                                    ng-click="dropdown.value='neutral';questionAnswered(dropdown.value, question.body, dropdown.body)">
                                <i class="icon ion-minus-round"></i>
                            </button>
                            <button id="10"
                                    ng-class="{'button-outline':dropdown.value!='no'}"
                                    class="button button-small
                                    button-assertive
                                    select-button"
                                    ng-click="dropdown.value='no';questionAnswered(dropdown.value, question.body, dropdown.body)">
                                <i class="icon ion-close-round"></i>
                            </button>
                        </span>
                        <span class="item-input-inset" ng-click="onClick()" ng-show="'time' == dropdown.question_type">
                            <label class="item item-input">
                                <span class="input-label">Hours</span>
                                <input type="number">
                            </label>
                            <label class="item item-input">
                                <span class="input-label">Minutes</span>
                                <input type="number">
                            </label>
                        </span>
                        <span class="item-input-inset" ng-click="onClick()" ng-show="'num' == dropdown.question_type">
                            <label class="item item-input">
                                <span class="input-label">Number</span>
                                <input type="number">
                            </label>
                        </span>
                    </ion-item>
                </div>
            </ion-list>
            <button ng-click="submit()" class="button button-full button-positive">
                Submit
            </button>
            </div>
        </ion-content>
    </ion-side-menu-content>

    <!-- Left menu -->
    <ion-side-menu side="left">
        <header class="bar bar-header bar-stable">
            <h1 class="title">Categories</h1>
        </header>
        <ion-content class="has-header">
            <ion-list>
                <ion-item menu-close ng-repeat="category in categories"
                                     ng-click="update(category)">
                    {{ category }}
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>

</ion-side-menus>
